html {
    size: 100%;
    background-color: whitesmoke;
}

body {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

body > .container {
    width: 95%;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: white;
}

md-nav-bar .md-nav-bar {
    background-color: white;
}

#nav-logo {
    height: 120px;
    width: auto;
}

.row {
    margin-bottom: 20px;
    padding-top: 20px;
}

.promo > ul {
    list-style-type: none;
}

.promo {
    text-align: center;
}

.icon {
    font-size: 3em;
}

.service-row-card {
    height: 180px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.promo-row-card {
    height: 180px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.map-row-card {
    height: 180px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.contact-form {
    padding: 3%;
}

form {
    padding: 2%;
}
