<div class="container" style="padding-top: 20px">
    <div class="container">
        <md-card class="contact-form">
            <md-content layout-padding>
                <div>
                    <h1>Contact Us</h1>
                    <md-content class="md-no-momentum">
                        <md-input-container class="md-block">
                            <!-- Use floating label instead of placeholder -->
                            <label>Name</label>
                            <md-icon class="name"><i class="fas fa-user"></i></md-icon>
                            <input ng-model="user.name" type="text">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-icon><i class="fas fa-phone"></i></md-icon>
                            <input ng-model="user.phone" type="text" placeholder="Phone Number">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <!-- Use floating placeholder instead of label -->
                            <md-icon class="email"><i class="fas fa-envelope-open"></i></md-icon>
                            <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Message</label>
                            <textarea ng-model="user.biography" md-maxlength="350" rows="5" md-select-on-focus ng-required="true"></textarea>
                        </md-input-container>
                    </md-content>
                </div>
            </md-content>
        </md-card>
        <!--<div class="col-md-7">
            <form action="{{ 'https://www.enformed.io/YOUR_TOKEN' + token }}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <textarea class="form-control" name="name" rows="1"></textarea>
                </div>
                 <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="name@example.com" required>
                    <small class="text-muted">Required</small>
                </div>
                <div class="form-group">
                    <label for="message">How can we help?</label>
                    <textarea class="form-control" name="message" rows="6" required></textarea>
                    <small class="text-muted">Required</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>-->
    </div>
</div>