<h1> {{ notHome }}</h1>

<!-- promos -->
<div class="row">
    <h1 class="title">{{ promos.title }}</h1>
</div>
<div class="row">
    <h2 class="slogan">{{ promos.slogan }}</h2>
</div>

<div class="row">
    
    <div class="col-sm-6 promo">
        <h2>{{ promos.content[0].name }}</h2>
        <ul>
            <li ng-repeat="detail in promos.content[0].details">{{ detail }}</li>
        </ul>
    </div>
   
    <div class="col-sm-6 promo">
        <h2>{{ promos.content[1].name }}</h2>
        <ul>
            <li ng-repeat="detail in promos.content[1].details">{{ detail }}</li>
        </ul>
    </div>
 
</div>

<!-- services -->
<div class="row">
    <h1 class="title">{{ services.title }}</h1>
</div>
<div class="row">
    <h2 class="slogan">{{ services.slogan }}</h2>
</div>

<div class="row">

    <div class="col-md-3 col-sm-6 service">
        <h2>{{ services.content[0].name }}</h2>
        <p class="icon"><i class="{{ services.content[0].icon }}"></i></p>
    </div>
    
    <div class="col-md-3 col-sm-6 service">
        <h2>{{ services.content[1].name }}</h2>
        <p class="icon"><i class="{{ services.content[1].icon }}"></i></p>
    </div>
    
    <div class="col-md-3 col-sm-6 service">
        <h2>{{ services.content[2].name }}</h2>
        <p class="icon"><i class="{{ services.content[2].icon }}"></i></p>
    </div>
    
    <div class="col-md-3 col-sm-6 service">
        <h2>{{ services.content[3].name }}</h2>
        <p class="icon"><i class="{{ services.content[3].icon }}"></i></p>
    </div>
    
</div>
